<h2 class="center">{{data.firstName}} {{data.lastName}}'s Clinical Notes</h2>

<div class="container">
    <button class="new_note" onclick= window.location.href="/clinician/{{data._id}}/create-new-note"> Create New Note </button>
</div>

<div class="note_parentcontainer">
    {{#each data.clinicianNotes}}
    <div class="clinical_note_box">
        {{!-- <h2> {{this.timestamp}} </h2> --}}
        <h3> {{this.message}} </h3>
        <div class="box_footer">
            <small>Note written on: {{this.timestamp}}</small>
        </div> 
    </div>
    {{/each}}
</div>