<h2 class="center">{{data.firstName}} {{data.lastName}}'s Health Record </h2>

<div class="timeline">
    {{#each data.timeseries as |day|}}
        
        <div class="parentcontainer">
            <div class="date_container"> 
                <p>Date: {{day.date}}</p> 
            </div>
            <div class="health_container">
                <div class="health_child">
                    {{#if day.glucose}}
                        <button class="oval_button"> Glucose: {{day.glucose.value}} mmol/L</button>
                    {{else}}
                        <button class="oval_button"> Glucose: N/A </button>
                    {{/if}} 
                    {{#if day.weight}}
                        <button class="oval_button"> Weight: {{day.weight.value}} kg </button>
                    {{else}}
                        <button class="oval_button"> Weight: N/A </button>
                    {{/if}}           
                </div>
                <div class="health_child">
                    {{#if day.glucose.message}}
                        <button class="comment_button"> {{day.glucose.message}} </button>
                    {{else}}
                        <button class="comment_button"> No Comment </button>
                    {{/if}} 
                    {{#if day.weight.message}}
                        <button class="comment_button"> {{day.weight.message}} </button>
                    {{else}}
                        <button class="comment_button"> No Comment </button>
                    {{/if}}           
                </div>
                <div class="health_child">
                    {{#if day.insulin}}
                        <button class="oval_button"> Insulin: {{day.insulin.value}} Doses </button>
                    {{else}}
                        <button class="oval_button"> Insulin: N/A </button>
                    {{/if}}
                    {{#if day.exercise}}
                        <button class="oval_button"> Exercise: {{day.exercise.value}} Steps </button>
                    {{else}}
                        <button class="oval_button"> Exercise: N/A </button>
                    {{/if}}             
                </div>
                <div class="health_child">
                    {{#if day.insulin.message}}
                        <button class="comment_button"> {{day.insulin.message}} </button>
                    {{else}}
                        <button class="comment_button"> No Comment </button>
                    {{/if}} 
                    {{#if day.exercise.message}}
                        <button class="comment_button"> {{day.exercise.message}} </button>
                    {{else}}
                        <button class="comment_button"> No Comment </button>
                    {{/if}}           
                </div>
            </div>
        </div>
    {{/each}}
</div>

