<h2 class="center">{{data.firstName}} {{data.lastName}}'s Health Record </h2>

{{!-- <div class="timeline"> --}}
    <div class="timeline">
    {{#each data.timeseries as |day|}}
        
        <div class="timelinecontainer">
            <div class="date_container"> 
                <p>{{day.date}}</p> 
            </div>
            <div class="health_container">
                <div class="health_pair">
                <div class="health_child">
                    {{#if day.glucose}}
                        <button class="oval_button"> Glucose: {{day.glucose.value}} nmol/L </button>
                        {{!-- {{#if day.glucose.message}}
                        <div class="box-footer">
                            <small> Comment attached </small>
                        </div>
                        {{/if}} --}}
                    {{else}}
                        <button class="oval_button"> Glucose: N/A </button>
                    {{/if}} 
                </div>
                <div class="health_child">
                    {{#if day.weight}}
                        <button class="oval_button"> Weight: {{day.weight.value}} kg </button>
                    {{else}}
                        <button class="oval_button"> Weight: N/A </button>
                    {{/if}}              
                </div>
                </div>
                {{!-- <div class="health_child">
                    {{#if day.weight}}
                        <button class="oval_button"> Weight: {{day.weight.value}} kg </button>
                    {{else}}
                        <button class="oval_button"> Weight: N/A </button>
                    {{/if}}            
                </div> --}}
                <div class="health_pair">
                <div class="health_child">
                    {{#if day.insulin}}
                        <button class="oval_button"> Insulin: {{day.insulin.value}} Doses </button>
                        {{!-- <div class="box-footer">
                            <small>Last updated at {{day.insulin.time}}</small>
                        </div> --}}
                    {{else}}
                        <button class="oval_button"> Insulin: N/A </button>
                    {{/if}}
                </div>
                <div class="health_child">
                    {{#if day.exercise}}
                        <button class="oval_button"> Exercise: {{day.exercise.value}} Steps </button>
                        {{!-- <div class="box-footer">
                            <small>Last updated at {{day.exercise.time}}</small>
                        </div> --}}
                    {{else}}
                        <button class="oval_button"> Exercise: N/A </button>
                    {{/if}}             
                </div>
                </div>
                {{!-- <div class="health_child">
                    {{#if day.exercise}}
                        <button class="oval_button"> Exercise: {{day.exercise.value}} No. of Steps </button>
                    {{else}}
                        <button class="oval_button"> Exercise: N/A </button>
                    {{/if}}            
                </div> --}}
            </div>
        </div>
        <hr>
    {{/each}}
    </div>
{{!-- </div> --}}

<script>
// When the user clicks on div, open the popup
function myFunction() {
    var popup = document.getElementById("popup");
    popup.classList.toggle("show");
}



</script>