<section>
    <div class="center">
        <h2>RECORD HEALTH</h2>
        <p>Record your health data in the following boxes</p>
        <p class="center">
        <script> document.write(new Date().toLocaleDateString()); </script>
        </p>
    </div>
</section>

<section>
    
    <div class="container">
        <form action="/patient/record-glucose" method="POST">
        
            <h4>Blood Glucose (nmol/L)</h4>
            <input type="number" step="any" id="glucose" placeholder="Add blood glucose" name="glucose" required>
            <input type="text" id="comment_glucose" placeholder="Add comment" name="comment">
            
            <div class="parentcontainer">
                {{#if submitted}}
                    <small class="submitted">Submitted!</small>
                {{else}}
                    <small>  </small>
                {{/if}}
                {{#each patient.glucoseTimestamp}}
                {{#if @last}}
                    <small>Last updated at {{this.time}}</small>
                {{/if}}
                {{/each}}
            </div>
            
            {{#unless submitted}}
                <button type="submit">Save</button>
            {{/unless}}
        </form>
    </div>

    <!--I rewrote the other attributes but until I figure out the who submit tick thing, they'll be commented out-->
<!--
    <div class="container">
        <form action="/patient/record-weight" method="POST">
            <label for="uname"><h4>Weight (kg)</h4></label>
            <input type="number" step="any" id="weight" placeholder="Add weight" name="weight" required>
            <input type="text" id="comment_weight" placeholder="Add comment" name="comment">
            
            <div class="parentcontainer">
                {{#if submitted}}
                    <small class="submitted">Submitted!</small>
                {{else}}
                    <small>  </small>
                {{/if}}
                {{#each patient.weightTimestamp}}
                {{#if @last}}
                    <small>Last updated at {{this.time}}</small>
                {{/if}}
                {{/each}}
            </div>
            
            {{#unless submitted}}
                <button type="submit">Save</button>
            {{/unless}}
        </form>
    </div>
    
    <div class="container">
        <form action="/patient/record-insulin" method="POST">
            <label for="uname"><h4>Insulin (no. of doses)</h4></label>
            <input type="number" step="any" id="insulin" placeholder="Add no. of insulin doses" name="insulin" required>
            <input type="text" id="comment_insulin" placeholder="Add comment" name="comment">
            
            <div class="parentcontainer">
                {{#if submitted}}
                    <small class="submitted">Submitted!</small>
                {{else}}
                    <small>  </small>
                {{/if}}
                {{#each patient.insulinTimestamp}}
                {{#if @last}}
                    <small>Last updated at {{this.time}}</small>
                {{/if}}
                {{/each}}
            </div>
            
            {{#unless submitted}}
                <button type="submit">Save</button>
            {{/unless}}
            
        </form>
    </div>

    <div class="container">
        <form action="/patient/record-insulin" method="POST">
            <label for="uname"><h4>Exercise (step count)</h4></label>
            <input type="number" step="any" id="exercise" placeholder="Add step count" name="exercise" required>
            <input type="text" id="comment_exercise" placeholder="Add comment" name="comment">
            
            <div class="parentcontainer">
                {{#if submitted}}
                    <small class="submitted">Submitted!</small>
                {{else}}
                    <small>  </small>
                {{/if}}
                {{#each patient.exerciseTimestamp}}
                {{#if @last}}
                    <small>Last updated at {{this.time}}</small>
                {{/if}}
                {{/each}}
            </div>
            
            {{#unless submitted}}
                <button type="submit">Save</button>
            {{/unless}}
            
        </form>
    </div>
    -->
</section>
