<h2 class="center">Set your patient's timeseries</h2>

<section>
    <p class="center">What does you patient need?</p>

    <div class="bigcontainer">
        <div class="child_container">
            <form action="/clinician/{{data._id}}/new-timeseries" method="POST">
                <h3 class="center">Blood glucose (mmol/L)<span>
                <input type='hidden' value={{data.glucoseRecord}} name='glucose'>
                <input type ="checkbox" name="glucose" value = "glucose" onchange="this.form.submit()" {{#if data.glucoseRecord}}checked{{/if}}>
                </span></h3>
            </form>
            {{#if data.glucoseRecord}}
            <form action="/clinician/{{data._id}}/new-threshold" method="POST">
                <p class="center">Lower limit: {{data.glucoseThreshold.lower}}</p>
                <input type="number" step="any" id="glucose_lower" name="glucose_lower" placeholder="Update lower threshold"/>
                <p class="center">Upper limit: {{data.glucoseThreshold.upper}}</p>
                <input type="number" step="any" id="glucose_upper" name="glucose_upper" placeholder="Update upper threshold"/>
                <button type="submit">Update</button>  
            </form>
            {{/if}}
        </div>

        <div class="child_container">
            <form action="/clinician/{{data._id}}/new-timeseries" method="POST">
                <h3 class="center">Weight (kg)<span>
                <input type='hidden' value={{data.weightRecord}} name='weight'>
                <input type ="checkbox" name="weight" value = "weight" onchange="this.form.submit()" {{#if data.weightRecord}}checked{{/if}}>
                </span></h3>
            </form>
            {{#if data.weightRecord}}
            <form action="/clinician/{{data._id}}/new-threshold" method="POST">
                <p class="center">Lower limit: {{data.weightThreshold.lower}}</p>
                <input type="number" step="any" id="weight_lower" name="weight_lower" placeholder="Update lower threshold"/>
                <p class="center">Upper limit: {{data.weightThreshold.upper}}</p>
                <input type="number" step="any" id="weight_upper" name="weight_upper" placeholder="Update upper threshold"/>
                <button type="submit">Update</button>
            </form>
            {{/if}}
        </div>
        

    </div>

    <div class="bigcontainer">
        <div class="child_container">
            <form action="/clinician/{{data._id}}/new-timeseries" method="POST">
                <h3 class="center">Insulin (no. of doses)<span>
                <input type='hidden' value={{data.insulinRecord}} name='insulin'>
                <input type ="checkbox" name="insulin" value = "insulin" onchange="this.form.submit()" {{#if data.insulinRecord}}checked{{/if}}>
                </span></h3>
            </form>
            {{#if data.insulinRecord}}
            <form action="/clinician/{{data._id}}/new-threshold" method="POST">
                <p class="center">Lower limit: {{data.insulinThreshold.lower}}</p>
                <input type="number" id="insulin_lower" name="insulin_lower" placeholder="Update lower threshold"/>
                <p class="center">Upper limit: {{data.insulinThreshold.upper}}</p>
                <input type="number" id="insulin_upper" name="insulin_upper" placeholder="Update upper threshold"/>
                <button type="submit">Update</button>
            </form>
            {{/if}}
        </div>

        <div class="child_container">
            <form action="/clinician/{{data._id}}/new-timeseries" method="POST">
                <h3 class="center">Exercise (step count)<span>
                <input type='hidden' value={{data.exerciseRecord}} name='exercise'>
                <input type ="checkbox" name="exercise" value = "exercise" onchange="this.form.submit()" {{#if data.exerciseRecord}}checked{{/if}}>
                </span></h3>
            </form>
            {{#if data.exerciseRecord}}
            <form action="/clinician/{{data._id}}/new-threshold" method="POST">
                <p class="center">Lower limit: {{data.exerciseThreshold.lower}}</p>
                <input type="number" id="exercise_lower" name="exercise_lower" placeholder="Update lower threshold"/>
                <p class="center">Upper limit: {{data.exerciseThreshold.upper}}</p>
                <input type="number" id="exercise_upper" name="exercise_upper" placeholder="Update upper threshold"/>
                <button type="submit">Update</button>
            </form>
            {{/if}}
        </div>
    </div>

    <div class="container">
        <div class="child_container">
            <button onclick= window.location.href="/clinician/{{data._id}}">Back to Patient Page</button>
        </div>
    </div>

</section>